@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel-img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.layout {
  display: grid;
  grid-template-rows: max-content auto max-content;
}
